@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #f1efe6;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1efe6;
}

::-webkit-scrollbar-thumb {
    background: #f1efe6;
}

::selection{
  background: rgba(16, 172, 55, 0.3);
}

/*  N  A  V  B  A  R */
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 10px 0px;
  transition: all 0.3s ease;
}

.navbar.sticky{
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.content{
  width: 100%;
  margin: auto;
  padding: 0px 50px;
}

.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo p{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list{
  display: inline-flex;
}

.menu-list li{
  list-style: none;
}

.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover{
  color: #31b66a;;
}

.new-navbar-scroll{
  background: linear-gradient(to bottom,rgb(0 0 0 / 50%) 0,rgb(0 0 0 / 30%) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0.3) 100%) ;
  border-bottom: 1px solid rgb(255 255 255 / .3);
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

.navbar.sticky .icon.cancel-btn{
  top: 10px;
}

/*  B  A  N  E  R  */
.banner{
  height: 100vh;
  background: url("images/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container1{
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.container1 h1{
  margin: 0px;
  padding-top: 290px;
  font-size: 45px;
}

.space-button{
  margin: 70px 0px;
}

.button{
  color: #313131;
  padding: 10px 24px;
  background: #f3f3f3;
  text-decoration: none;
  border-radius: 12px;
  transition: .6s;
}

.button:hover{
  opacity: .6;
  color:#215236;
}


/*  D  E  S  T  I  N  A  S  I  */
.destinasi{
  margin-top: 80px;
}

.teks{
  width: 350px;
  height: 110px;
}

.title{
  text-align: center;
} 

.container{
	margin: 30px 30px 100px 30px;
	margin-left: 45px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #12a36c;
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
}

.image img{
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
  width:100%;
  height:100%;
}

.image:hover img{
	opacity: 1;
  opacity: 0.8;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.details{
  text-align: center;
}

.details h2{
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 40px;
	transition: 0.4s;
	transition-property: transform;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.details p{
	margin: 15px 5px 0px 5px;
  padding: 0px 10px;
	font-size: 18px;
	font-weight: 600;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
  cursor: pointer;
}

.image:hover .more{
	bottom: 0;
  opacity: 1;
}

.more .start-walk{
	color: #313131;
  padding: 10px 24px;
  background: #f1f1f1;
  text-decoration: none;
  border-radius: 12px;
  transition: .6s;
}

.more .start-walk:hover{
  opacity: 0.7;
  color:#215236
}

.more .start-walk span{
	font-weight: 900;
}

/*  P  R  O  F  I  L  E  */
.container-card {
  width: 90vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.card {
  height : 400px;
  width: 300px;
  background-color: #fdfeff;
  border-radius: 5px;
  box-shadow: 5px 5px 20px grey;
  display: flex;
  margin: 0 85px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.profile-picture{
  width : 100%;
  height : 100%;
  object-fit: cover;
  transition-property: all;
  transition-duration: 300ms;
}

.card:hover > .profile-picture {
  margin-top: 30px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px grey;
}

.info-container {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: all;
  transition-duration: 300ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

.card:hover > .info-container {
  flex: 1;
}

.name {
  margin-top: 30px;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.subtitle {
  margin-top: 5px;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-size: 20px;
}

.description {
  margin-top: 17px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans Condensed';
  text-align: center;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.02em;
}

a{
  color: inherit;
  text-decoration: none;
}

.medsos{
  padding: 10px 30px;
}

.medsos ul li{
  display: inline-block;
  color: rgb(25, 25, 25);
  margin-right: 15px;
}

.medsos ul li:hover{
  color: #143623;
}

.fa-2x {
  font-size: 1.5em;
}

.container-contact{
  width: 100%;
  margin: 0 auto;
  margin-left: 20px;
}

/*  F  O  O  T  E  R  */
.container-footer{
 margin-bottom: -100px;
}

.footer{
  width: 100%;
  height: 120px;
  margin-top: 10px;
  padding-top: 15px;
  text-align: center;
  background-color: black;
  color:darkgrey;
}

.footer p{
  text-align: center;
  margin-top: 15px;
}

.footer a{
  color:darkgrey;
}

a:hover{
  color: #31b66a;;
}

.footer p{
  color: darkgrey;
}
